{% extends 'layouts/layout.html' %}

{% block pageTitle %}
We did not receive the picture in time
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-8">

    <h1 class="nhsuk-heading-l">There is a problem</h1>

    <p>You took longer than 10 minutes to take a photo.</p>

    <p>Select <b>Try again </b> to send a photo of your I.D.
    </p>


    <form method="POST" action="/registration/service-access-photo-id-type">
      <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">Try again</button>
    </form>

    <div class="or">
      <span>Or</span>
    </div>

    <p><a href="/registration/patient-online-details">Prove who you are without sending a photo of your I.D.</a></p>

  </div>
</div>

{% endblock %}