{% extends 'layouts/layout.html' %}

{% block pageTitle %}
There was a problem
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-two-thirds nhsuk-u-margin-bottom-8">

    <h1 class="nhsuk-heading-l">There was a problem</h1>

    <p>You need to update your version of the Google Play services app on your phone.
    </p>

    <p>When you have updated your Google Play services app, you can select <b>Continue</b> to try again.</p>

    <form method="POST" action="/registration/service-access-photo-id-type">
      <button type="submit" class="nhsuk-button nhsuk-u-margin-bottom-0">Continue</button>
    </form>

    <div class="or">
      <span>Or</span>
    </div>

    <p><a href="/registration/patient-online-details">Prove who you are without sending a photo of your I.D.</a></p>

  </div>
</div>

{% endblock %}